softWrench.sW4/Web References/wsAsset/MXSW3ASSET.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:mx="http://www.ibm.com/maximo" xmlns:mxws="http://www.ibm.com/maximo/wsdl/MXSW3ASSET" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="MXSW3ASSET" targetNamespace="http://www.ibm.com/maximo/wsdl/MXSW3ASSET" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.ibm.com/maximo" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ibm.com/maximo">
      <xsd:simpleType name="ProcessingActionType">
        <xsd:annotation>
          <xsd:documentation>Enumerated List of Processing Actions supported by Maximo Services</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="Add" />
          <xsd:enumeration value="Change" />
          <xsd:enumeration value="Replace" />
          <xsd:enumeration value="Delete" />
          <xsd:enumeration value="AddChange" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="OperandModeType">
        <xsd:annotation>
          <xsd:documentation>Enumerated List of operand modes supported by Maximo Query</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="OR" />
          <xsd:enumeration value="AND" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="MboRelationshipType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="EventType">
        <xsd:annotation>
          <xsd:documentation>Boolean flag identifying if a published MOS was the result of an event. 1 implies event</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:boolean">
          <xsd:pattern value="0|1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ChangeIndicatorType">
        <xsd:annotation>
          <xsd:documentation>Boolean flag identifying if a field has a new value. Applicable only for a MOS generated by an event</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:boolean">
          <xsd:pattern value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="QueryOperatorType">
        <xsd:annotation>
          <xsd:documentation>Operator identifying the QBE action to be performed on the field it is associated with</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="=" />
          <xsd:enumeration value="!=" />
          <xsd:enumeration value="&lt;" />
          <xsd:enumeration value="&lt;=" />
          <xsd:enumeration value="&gt;" />
          <xsd:enumeration value="&gt;=" />
          <xsd:enumeration value="EW" />
          <xsd:enumeration value="SW" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="BooleanType">
        <xsd:restriction base="xsd:boolean">
          <xsd:pattern value="0|1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="MaximoVersionType">
        <xsd:annotation>
          <xsd:documentation>This is a concatenated string that identifies the major version, minor version, build and dbbuild</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:complexType name="MXStringType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXLangStringType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
            <xsd:attribute fixed="1" name="languageEnabled" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXDoubleType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:double">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXFloatType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:float">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXLongType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:long">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXIntType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:int">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXBooleanType">
        <xsd:simpleContent>
          <xsd:extension base="mx:BooleanType">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXDateTimeType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:dateTime">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXBinaryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:base64Binary">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXCryptoType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:base64Binary">
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
            <xsd:attribute default="1" name="mxencrypted" type="mx:BooleanType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXGLComponentType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="glorder" use="required">
              <xsd:simpleType>
                <xsd:restriction base="xsd:int">
                  <xsd:minInclusive value="0" />
                  <xsd:maxExclusive value="20" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXGLAccountType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="VALUE" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="20" name="GLCOMP" type="mx:MXGLComponentType" />
        </xsd:sequence>
        <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="MXDomainType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="maxvalue" type="xsd:string" use="optional" />
            <xsd:attribute name="changed" type="mx:ChangeIndicatorType" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXStringQueryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
            <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXDoubleQueryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:double">
            <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
            <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXFloatQueryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:float">
            <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
            <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXLongQueryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
            <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXIntQueryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:int">
            <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
            <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXBooleanQueryType">
        <xsd:simpleContent>
          <xsd:extension base="mx:BooleanType">
            <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
            <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXDateTimeQueryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:dateTime">
            <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
            <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXGLComponentQueryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="glorder" use="required">
              <xsd:simpleType>
                <xsd:restriction base="xsd:int">
                  <xsd:minInclusive value="0" />
                  <xsd:maxExclusive value="20" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="MXGLAccountQueryType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="VALUE" type="xsd:string" />
        </xsd:sequence>
        <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="MXDomainQueryType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="maxvalue" type="xsd:string" use="optional" />
            <xsd:attribute name="operator" type="mx:QueryOperatorType" use="optional" />
            <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:attributeGroup name="ObjectStructurePropertyGroup">
        <xsd:attribute name="action" type="mx:ProcessingActionType" use="optional" />
        <xsd:attribute name="relationship" type="xsd:string" use="optional" />
        <xsd:attribute name="deleteForInsert" type="xsd:string" use="optional" />
      </xsd:attributeGroup>
      <xsd:attributeGroup name="CommonContentGroup">
        <xsd:attribute name="creationDateTime" type="xsd:dateTime" use="optional" />
        <xsd:attribute name="baseLanguage" type="xsd:string" use="optional" />
        <xsd:attribute name="transLanguage" type="xsd:string" use="optional" />
        <xsd:attribute name="messageID" type="xsd:string" use="optional" />
        <xsd:attribute name="maximoVersion" type="mx:MaximoVersionType" use="optional" />
      </xsd:attributeGroup>
      <xsd:attributeGroup name="PublishingContentGroup">
        <xsd:attribute default="0" name="event" type="mx:EventType" use="optional" />
      </xsd:attributeGroup>
      <xsd:attributeGroup name="QueryContentGroup">
        <xsd:attribute default="0" name="uniqueResult" type="mx:BooleanType" use="optional" />
        <xsd:attribute name="maxItems" type="xsd:positiveInteger" use="optional" />
        <xsd:attribute default="0" name="rsStart" type="xsd:integer" use="optional" />
      </xsd:attributeGroup>
      <xsd:attributeGroup name="QueryClausePropertyGroup">
        <xsd:attribute name="orderby" type="xsd:string" use="optional" />
        <xsd:attribute default="AND" name="operandMode" type="mx:OperandModeType" use="optional" />
      </xsd:attributeGroup>
      <xsd:attributeGroup name="ResponseContentGroup">
        <xsd:attribute name="rsStart" type="xsd:integer" use="optional" />
        <xsd:attribute name="rsCount" type="xsd:integer" use="optional" />
        <xsd:attribute name="rsTotal" type="xsd:integer" use="optional" />
      </xsd:attributeGroup>
      <xsd:complexType name="MXSW3ASSET_ASSETType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MAXINTERRORMSG" type="xsd:string" />
          <xsd:element minOccurs="0" name="ANCESTOR" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="ASSETID" nillable="true" type="mx:MXLongType" />
          <xsd:element minOccurs="0" name="ASSETNUM" type="mx:MXStringType">
            <xsd:annotation>
              <xsd:documentation>Unique Key Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ASSETTAG" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="ASSETTYPE" type="mx:MXDomainType" />
          <xsd:element minOccurs="0" name="ASSETUID" nillable="true" type="mx:MXLongType" />
          <xsd:element minOccurs="0" name="AUTOWOGEN" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="BINNUM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="BUDGETCOST" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="CALNUM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="CHANGEBY" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="CHANGEDATE" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="CHILDREN" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="CLASSSTRUCTUREID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="CONDITIONCODE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="DEFAULTREPFAC" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="DEFAULTREPFACSITEID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="DESCRIPTION" type="mx:MXStringType">
            <xsd:annotation>
              <xsd:documentation>Multiple languages supported</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="DIRECTION" type="mx:MXDomainType" />
          <xsd:element minOccurs="0" name="DISABLED" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="ENDDESCRIPTION" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="ENDMEASURE" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="EQ1" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="EQ10" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="EQ11" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="EQ12" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="EQ2" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="EQ23" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="EQ24" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="EQ3" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="EQ4" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="EQ5" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="EQ6" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="EQ7" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="EQ8" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="EQ9" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="EXTERNALREFID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="FAILURECODE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="GLACCOUNT" type="mx:MXGLAccountType" />
          <xsd:element minOccurs="0" name="GROUPNAME" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="INSTALLDATE" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="INVCOST" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="ISCALIBRATION" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="ISLINEAR" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="ISRUNNING" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="ITEMNUM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="ITEMSETID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="ITEMTYPE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="LOCATION" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="LRM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="MAINTHIERCHY" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="MANUFACTURER" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="MOVED" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="ORGID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="OWNERSYSID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PARENT" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCASSETDEPT" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCCLASS" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCDUEDATE" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="PLUSCISCONDESC" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCISCONTAM" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="PLUSCISINHOUSECAL" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="PLUSCISMTE" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="PLUSCISMTECLASS" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCLOOPNUM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCLPLOC" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCMODELNUM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCOPRGEEU" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCOPRGEFROM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCOPRGETO" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCPHYLOC" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCPMEXTDATE" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="PLUSCSOLUTION" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="PLUSCSUMDIR" type="mx:MXDomainType" />
          <xsd:element minOccurs="0" name="PLUSCSUMEU" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCSUMREAD" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCSUMSPAN" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCSUMURV" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCVENDOR" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PRIORITY" nillable="true" type="mx:MXLongType" />
          <xsd:element minOccurs="0" name="PURCHASEPRICE" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="REPLACECOST" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="RETURNEDTOVENDOR" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="ROTSUSPACCT" type="mx:MXGLAccountType" />
          <xsd:element minOccurs="0" name="SENDERSYSID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="SERIALNUM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="SHIFTNUM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="SITEID" type="mx:MXStringType">
            <xsd:annotation>
              <xsd:documentation>Unique Key Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="SOURCESYSID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="STARTDESCRIPTION" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="STARTMEASURE" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="STATUS" type="mx:MXDomainType" />
          <xsd:element minOccurs="0" name="STATUSDATE" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="TEMPLATEID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="TLOAMHASH" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="TLOAMPARTITION" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="TOOLCONTROLACCOUNT" type="mx:MXGLAccountType" />
          <xsd:element minOccurs="0" name="TOOLRATE" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="TOTALCOST" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="TOTDOWNTIME" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="TOTUNCHARGEDCOST" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="UNCHARGEDCOST" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="USAGE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="VENDOR" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="WARRANTYEXPDATE" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="YTDCOST" nillable="true" type="mx:MXDoubleType" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:ObjectStructurePropertyGroup" />
        <xsd:attribute name="transLanguage" type="xsd:string" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="MXSW3ASSETType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ASSET" type="mx:MXSW3ASSET_ASSETType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MXSW3ASSETSetType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ASSET" type="mx:MXSW3ASSET_ASSETType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MXSW3ASSETQueryType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="WHERE" type="xsd:string" />
          <xsd:element minOccurs="0" name="ASSET">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ANCESTOR" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ASSETID" nillable="true" type="mx:MXLongQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ASSETNUM" type="mx:MXStringQueryType">
                  <xsd:annotation>
                    <xsd:documentation>Unique Key Component</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ASSETTAG" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ASSETTYPE" type="mx:MXDomainQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ASSETUID" nillable="true" type="mx:MXLongQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="AUTOWOGEN" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="BINNUM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="BUDGETCOST" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CALNUM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CHANGEBY" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CHANGEDATE" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CHILDREN" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CLASSSTRUCTUREID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CONDITIONCODE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="DEFAULTREPFAC" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="DEFAULTREPFACSITEID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="DESCRIPTION" type="mx:MXStringQueryType">
                  <xsd:annotation>
                    <xsd:documentation>Multiple languages supported</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="DIRECTION" type="mx:MXDomainQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="DISABLED" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ENDDESCRIPTION" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ENDMEASURE" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ1" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ10" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ11" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ12" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ2" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ23" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ24" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ3" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ4" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ5" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ6" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ7" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ8" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ9" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EXTERNALREFID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="FAILURECODE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="GLACCOUNT" type="mx:MXGLAccountQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="GROUPNAME" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="INSTALLDATE" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="INVCOST" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ISCALIBRATION" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ISLINEAR" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ISRUNNING" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ITEMNUM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ITEMSETID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ITEMTYPE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="LOCATION" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="LRM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="MAINTHIERCHY" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="MANUFACTURER" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="MOVED" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ORGID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="OWNERSYSID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PARENT" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCASSETDEPT" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCCLASS" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCDUEDATE" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCISCONDESC" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCISCONTAM" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCISINHOUSECAL" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCISMTE" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCISMTECLASS" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCLOOPNUM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCLPLOC" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCMODELNUM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCOPRGEEU" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCOPRGEFROM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCOPRGETO" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCPHYLOC" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCPMEXTDATE" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCSOLUTION" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCSUMDIR" type="mx:MXDomainQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCSUMEU" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCSUMREAD" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCSUMSPAN" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCSUMURV" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCVENDOR" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PRIORITY" nillable="true" type="mx:MXLongQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PURCHASEPRICE" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="REPLACECOST" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="RETURNEDTOVENDOR" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ROTSUSPACCT" type="mx:MXGLAccountQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="SENDERSYSID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="SERIALNUM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="SHIFTNUM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="SITEID" type="mx:MXStringQueryType">
                  <xsd:annotation>
                    <xsd:documentation>Unique Key Component</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="SOURCESYSID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="STARTDESCRIPTION" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="STARTMEASURE" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="STATUS" type="mx:MXDomainQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="STATUSDATE" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TEMPLATEID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TLOAMHASH" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TLOAMPARTITION" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TOOLCONTROLACCOUNT" type="mx:MXGLAccountQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TOOLRATE" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TOTALCOST" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TOTDOWNTIME" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TOTUNCHARGEDCOST" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="UNCHARGEDCOST" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="USAGE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="VENDOR" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="WARRANTYEXPDATE" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="YTDCOST" nillable="true" type="mx:MXDoubleQueryType" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:QueryClausePropertyGroup" />
      </xsd:complexType>
      <xsd:complexType name="MXSW3ASSETCombinedKeySetType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ASSET">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="SITEID" type="mx:MXStringType">
                  <xsd:annotation>
                    <xsd:documentation>Unique Key Component</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="ASSETNUM" type="mx:MXStringType">
                  <xsd:annotation>
                    <xsd:documentation>Unique Key Component</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="ASSETUID" nillable="true" type="mx:MXLongType" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="MXSW3ASSET" type="mx:MXSW3ASSETType" />
      <xsd:element name="MXSW3ASSETSet" type="mx:MXSW3ASSETSetType" />
      <xsd:element name="MXSW3ASSETQuery" type="mx:MXSW3ASSETQueryType" />
      <xsd:complexType name="ASSETKeyType">
        <xsd:sequence>
          <xsd:element name="SITEID" type="mx:MXStringType">
            <xsd:annotation>
              <xsd:documentation>Unique Key Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ASSETNUM" type="mx:MXStringType">
            <xsd:annotation>
              <xsd:documentation>Unique Key Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ASSETObjectType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ASSETNUM" type="mx:MXStringType">
            <xsd:annotation>
              <xsd:documentation>Unique Key Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="PARENT" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="SERIALNUM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="ASSETTAG" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="LOCATION" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="DESCRIPTION" type="mx:MXStringType">
            <xsd:annotation>
              <xsd:documentation>Multiple languages supported</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="VENDOR" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="FAILURECODE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="MANUFACTURER" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PURCHASEPRICE" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="REPLACECOST" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="INSTALLDATE" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="WARRANTYEXPDATE" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="TOTALCOST" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="YTDCOST" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="BUDGETCOST" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="CALNUM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="ISRUNNING" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="ITEMNUM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="UNCHARGEDCOST" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="TOTUNCHARGEDCOST" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="TOTDOWNTIME" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="STATUSDATE" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="CHANGEDATE" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="CHANGEBY" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="EQ1" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="EQ2" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="EQ3" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="EQ4" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="EQ5" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="EQ6" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="EQ7" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="EQ8" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="EQ9" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="EQ10" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="EQ11" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="EQ12" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="EQ23" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="EQ24" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="PRIORITY" nillable="true" type="mx:MXLongType" />
          <xsd:element minOccurs="0" name="INVCOST" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="GLACCOUNT" type="mx:MXGLAccountType" />
          <xsd:element minOccurs="0" name="ROTSUSPACCT" type="mx:MXGLAccountType" />
          <xsd:element minOccurs="0" name="CHILDREN" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="BINNUM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="DISABLED" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="CLASSSTRUCTUREID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="SOURCESYSID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="OWNERSYSID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="EXTERNALREFID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="SITEID" type="mx:MXStringType">
            <xsd:annotation>
              <xsd:documentation>Unique Key Component</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="ORGID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="AUTOWOGEN" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="ITEMSETID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="CONDITIONCODE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="GROUPNAME" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="ASSETTYPE" type="mx:MXDomainType" />
          <xsd:element minOccurs="0" name="USAGE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="STATUS" type="mx:MXDomainType" />
          <xsd:element minOccurs="0" name="MAINTHIERCHY" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="ASSETID" nillable="true" type="mx:MXLongType" />
          <xsd:element minOccurs="0" name="MOVED" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="ASSETUID" nillable="true" type="mx:MXLongType" />
          <xsd:element minOccurs="0" name="LANGCODE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="TOOLRATE" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="ITEMTYPE" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="ANCESTOR" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="SENDERSYSID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="SHIFTNUM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="TOOLCONTROLACCOUNT" type="mx:MXGLAccountType" />
          <xsd:element minOccurs="0" name="HASLD" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="DIRECTION" type="mx:MXDomainType" />
          <xsd:element minOccurs="0" name="STARTMEASURE" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="ENDMEASURE" nillable="true" type="mx:MXDoubleType" />
          <xsd:element minOccurs="0" name="ISLINEAR" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="ENDDESCRIPTION" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="STARTDESCRIPTION" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="LRM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="DEFAULTREPFACSITEID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="DEFAULTREPFAC" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="RETURNEDTOVENDOR" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="TLOAMHASH" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="TLOAMPARTITION" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="PLUSCASSETDEPT" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCCLASS" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCDUEDATE" nillable="true" type="mx:MXDateTimeType" />
          <xsd:element minOccurs="0" name="PLUSCISCONDESC" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCISCONTAM" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="PLUSCISINHOUSECAL" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="PLUSCISMTE" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="PLUSCISMTECLASS" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCLOOPNUM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCMODELNUM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCOPRGEEU" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCOPRGEFROM" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCOPRGETO" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCPHYLOC" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCPMEXTDATE" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="PLUSCSOLUTION" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="PLUSCSUMDIR" type="mx:MXDomainType" />
          <xsd:element minOccurs="0" name="PLUSCSUMEU" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCSUMREAD" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCSUMSPAN" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCSUMURV" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCVENDOR" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="ISCALIBRATION" type="mx:MXBooleanType" />
          <xsd:element minOccurs="0" name="TEMPLATEID" type="mx:MXStringType" />
          <xsd:element minOccurs="0" name="PLUSCLPLOC" type="mx:MXStringType" />
        </xsd:sequence>
        <xsd:attribute name="action" type="mx:ProcessingActionType" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="ASSETMboKeyType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ASSET" type="mx:ASSETKeyType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ASSETMboKeySetType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ASSET" type="mx:ASSETKeyType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ASSETMboSetType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ASSET" type="mx:ASSETObjectType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ASSETMboType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ASSET" type="mx:ASSETObjectType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ASSETMboQueryType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="WHERE" type="xsd:string" />
          <xsd:element minOccurs="0" name="ASSET">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ASSETNUM" type="mx:MXStringQueryType">
                  <xsd:annotation>
                    <xsd:documentation>Unique Key Component</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PARENT" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="SERIALNUM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ASSETTAG" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="LOCATION" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="DESCRIPTION" type="mx:MXStringQueryType">
                  <xsd:annotation>
                    <xsd:documentation>Multiple languages supported</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="VENDOR" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="FAILURECODE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="MANUFACTURER" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PURCHASEPRICE" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="REPLACECOST" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="INSTALLDATE" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="WARRANTYEXPDATE" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TOTALCOST" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="YTDCOST" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="BUDGETCOST" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CALNUM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ISRUNNING" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ITEMNUM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="UNCHARGEDCOST" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TOTUNCHARGEDCOST" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TOTDOWNTIME" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="STATUSDATE" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CHANGEDATE" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CHANGEBY" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ1" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ2" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ3" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ4" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ5" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ6" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ7" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ8" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ9" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ10" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ11" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ12" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ23" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EQ24" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PRIORITY" nillable="true" type="mx:MXLongQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="INVCOST" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="GLACCOUNT" type="mx:MXGLAccountQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ROTSUSPACCT" type="mx:MXGLAccountQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CHILDREN" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="BINNUM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="DISABLED" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CLASSSTRUCTUREID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="SOURCESYSID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="OWNERSYSID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="EXTERNALREFID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="SITEID" type="mx:MXStringQueryType">
                  <xsd:annotation>
                    <xsd:documentation>Unique Key Component</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ORGID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="AUTOWOGEN" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ITEMSETID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="CONDITIONCODE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="GROUPNAME" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ASSETTYPE" type="mx:MXDomainQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="USAGE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="STATUS" type="mx:MXDomainQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="MAINTHIERCHY" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ASSETID" nillable="true" type="mx:MXLongQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="MOVED" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ASSETUID" nillable="true" type="mx:MXLongQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="LANGCODE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TOOLRATE" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ITEMTYPE" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ANCESTOR" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="SENDERSYSID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="SHIFTNUM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TOOLCONTROLACCOUNT" type="mx:MXGLAccountQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="HASLD" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="DIRECTION" type="mx:MXDomainQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="STARTMEASURE" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ENDMEASURE" nillable="true" type="mx:MXDoubleQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ISLINEAR" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ENDDESCRIPTION" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="STARTDESCRIPTION" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="LRM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="DEFAULTREPFACSITEID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="DEFAULTREPFAC" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="RETURNEDTOVENDOR" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TLOAMHASH" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TLOAMPARTITION" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCASSETDEPT" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCCLASS" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCDUEDATE" nillable="true" type="mx:MXDateTimeQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCISCONDESC" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCISCONTAM" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCISINHOUSECAL" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCISMTE" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCISMTECLASS" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCLOOPNUM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCMODELNUM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCOPRGEEU" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCOPRGEFROM" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCOPRGETO" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCPHYLOC" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCPMEXTDATE" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCSOLUTION" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCSUMDIR" type="mx:MXDomainQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCSUMEU" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCSUMREAD" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCSUMSPAN" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCSUMURV" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCVENDOR" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="ISCALIBRATION" type="mx:MXBooleanQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="TEMPLATEID" type="mx:MXStringQueryType" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PLUSCLPLOC" type="mx:MXStringQueryType" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:QueryClausePropertyGroup" />
      </xsd:complexType>
      <xsd:element name="ASSETMbo" type="mx:ASSETMboType" />
      <xsd:element name="ASSETMboSet" type="mx:ASSETMboSetType" />
      <xsd:element name="ASSETMboKey" type="mx:ASSETMboKeyType" />
      <xsd:element name="ASSETMboKeySet" type="mx:ASSETMboKeySetType" />
      <xsd:element name="ASSETMboQuery" type="mx:ASSETMboQueryType" />
      <xsd:complexType name="CreateMXSW3ASSETType">
        <xsd:sequence>
          <xsd:element ref="mx:MXSW3ASSETSet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="InvokeMXSW3ASSETType">
        <xsd:sequence>
          <xsd:element ref="mx:MXSW3ASSETSet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="QueryMXSW3ASSETType">
        <xsd:sequence>
          <xsd:element ref="mx:MXSW3ASSETQuery" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
        <xsd:attributeGroup ref="mx:QueryContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="SyncMXSW3ASSETType">
        <xsd:sequence>
          <xsd:element ref="mx:MXSW3ASSETSet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="PublishMXSW3ASSETType">
        <xsd:sequence>
          <xsd:element ref="mx:MXSW3ASSETSet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
        <xsd:attributeGroup ref="mx:PublishingContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="UpdateMXSW3ASSETType">
        <xsd:sequence>
          <xsd:element ref="mx:MXSW3ASSETSet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="DeleteMXSW3ASSETType">
        <xsd:sequence>
          <xsd:element ref="mx:MXSW3ASSETSet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="InvokeMXSW3ASSETResponseType">
        <xsd:sequence>
          <xsd:element ref="mx:MXSW3ASSETSet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="CreateMXSW3ASSETResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="mx:ASSETMboKeySet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="QueryMXSW3ASSETResponseType">
        <xsd:sequence>
          <xsd:element ref="mx:MXSW3ASSETSet" />
        </xsd:sequence>
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
        <xsd:attributeGroup ref="mx:ResponseContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="SyncMXSW3ASSETResponseType">
        <xsd:sequence />
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="DeleteMXSW3ASSETResponseType">
        <xsd:sequence />
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:complexType name="UpdateMXSW3ASSETResponseType">
        <xsd:sequence />
        <xsd:attributeGroup ref="mx:CommonContentGroup" />
      </xsd:complexType>
      <xsd:element name="UpdateMXSW3ASSET" type="mx:UpdateMXSW3ASSETType" />
      <xsd:element name="QueryMXSW3ASSET" type="mx:QueryMXSW3ASSETType" />
      <xsd:element name="CreateMXSW3ASSET" type="mx:CreateMXSW3ASSETType" />
      <xsd:element name="SyncMXSW3ASSET" type="mx:SyncMXSW3ASSETType" />
      <xsd:element name="DeleteMXSW3ASSET" type="mx:DeleteMXSW3ASSETType" />
      <xsd:element name="PublishMXSW3ASSET" type="mx:PublishMXSW3ASSETType" />
      <xsd:element name="InvokeMXSW3ASSET" type="mx:InvokeMXSW3ASSETType" />
      <xsd:element name="InvokeMXSW3ASSETResponse" type="mx:InvokeMXSW3ASSETResponseType" />
      <xsd:element name="QueryMXSW3ASSETResponse" type="mx:QueryMXSW3ASSETResponseType" />
      <xsd:element name="CreateMXSW3ASSETResponse" type="mx:CreateMXSW3ASSETResponseType" />
      <xsd:element name="SyncMXSW3ASSETResponse" type="mx:SyncMXSW3ASSETResponseType" />
      <xsd:element name="UpdateMXSW3ASSETResponse" type="mx:UpdateMXSW3ASSETResponseType" />
      <xsd:element name="DeleteMXSW3ASSETResponse" type="mx:DeleteMXSW3ASSETResponseType" />
    </xsd:schema>
  </types>
  <message name="QueryMXSW3ASSETRequest">
    <part name="parameters" element="mx:QueryMXSW3ASSET" />
  </message>
  <message name="QueryMXSW3ASSETResponse">
    <part name="parameters" element="mx:QueryMXSW3ASSETResponse" />
  </message>
  <message name="SyncMXSW3ASSETRequest">
    <part name="parameters" element="mx:SyncMXSW3ASSET" />
  </message>
  <message name="SyncMXSW3ASSETResponse">
    <part name="parameters" element="mx:SyncMXSW3ASSETResponse" />
  </message>
  <message name="UpdateMXSW3ASSETRequest">
    <part name="parameters" element="mx:UpdateMXSW3ASSET" />
  </message>
  <message name="UpdateMXSW3ASSETResponse">
    <part name="parameters" element="mx:UpdateMXSW3ASSETResponse" />
  </message>
  <message name="CreateMXSW3ASSETRequest">
    <part name="parameters" element="mx:CreateMXSW3ASSET" />
  </message>
  <message name="CreateMXSW3ASSETResponse">
    <part name="parameters" element="mx:CreateMXSW3ASSETResponse" />
  </message>
  <message name="DeleteMXSW3ASSETRequest">
    <part name="parameters" element="mx:DeleteMXSW3ASSET" />
  </message>
  <message name="DeleteMXSW3ASSETResponse">
    <part name="parameters" element="mx:DeleteMXSW3ASSETResponse" />
  </message>
  <portType name="MXSW3ASSETPortType">
    <operation name="QueryMXSW3ASSET">
      <input message="mxws:QueryMXSW3ASSETRequest" />
      <output message="mxws:QueryMXSW3ASSETResponse" />
    </operation>
    <operation name="SyncMXSW3ASSET">
      <input message="mxws:SyncMXSW3ASSETRequest" />
      <output message="mxws:SyncMXSW3ASSETResponse" />
    </operation>
    <operation name="UpdateMXSW3ASSET">
      <input message="mxws:UpdateMXSW3ASSETRequest" />
      <output message="mxws:UpdateMXSW3ASSETResponse" />
    </operation>
    <operation name="CreateMXSW3ASSET">
      <input message="mxws:CreateMXSW3ASSETRequest" />
      <output message="mxws:CreateMXSW3ASSETResponse" />
    </operation>
    <operation name="DeleteMXSW3ASSET">
      <input message="mxws:DeleteMXSW3ASSETRequest" />
      <output message="mxws:DeleteMXSW3ASSETResponse" />
    </operation>
  </portType>
  <binding name="MXSW3ASSETSOAP11Binding" type="mxws:MXSW3ASSETPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="QueryMXSW3ASSET">
      <soap:operation soapAction="urn:processDocument" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SyncMXSW3ASSET">
      <soap:operation soapAction="urn:processDocument" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateMXSW3ASSET">
      <soap:operation soapAction="urn:processDocument" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateMXSW3ASSET">
      <soap:operation soapAction="urn:processDocument" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DeleteMXSW3ASSET">
      <soap:operation soapAction="urn:processDocument" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="MXSW3ASSETSOAP12Binding" type="mxws:MXSW3ASSETPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="QueryMXSW3ASSET">
      <soap12:operation soapAction="urn:processDocument" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="SyncMXSW3ASSET">
      <soap12:operation soapAction="urn:processDocument" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateMXSW3ASSET">
      <soap12:operation soapAction="urn:processDocument" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="CreateMXSW3ASSET">
      <soap12:operation soapAction="urn:processDocument" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="DeleteMXSW3ASSET">
      <soap12:operation soapAction="urn:processDocument" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MXSW3ASSET">
    <port name="MXSW3ASSETSOAP11Port" binding="mxws:MXSW3ASSETSOAP11Binding">
      <soap:address location="http://localhost/meaweb/services/MXSW3ASSET" />
    </port>
    <port name="MXSW3ASSETSOAP12Port" binding="mxws:MXSW3ASSETSOAP12Binding">
      <soap12:address location="http://localhost/meaweb/services/MXSW3ASSET" />
    </port>
  </service>
</definitions>