softWrench.sW4/Service References/mif_sr/MXSW4SR.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:mx="http://www.ibm.com/maximo" xmlns:mxws="http://www.ibm.com/maximo/wsdl/MXSW4SR" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="MXSW4SR" targetNamespace="http://www.ibm.com/maximo/wsdl/MXSW4SR" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://66.235.236.8:80/meaweb/schema/service/MXSW4SRService.xsd" namespace="http://www.ibm.com/maximo" />
    </xsd:schema>
  </types>
  <message name="QueryMXSW4SRRequest">
    <part name="parameters" element="mx:QueryMXSW4SR" />
  </message>
  <message name="QueryMXSW4SRResponse">
    <part name="parameters" element="mx:QueryMXSW4SRResponse" />
  </message>
  <message name="SyncMXSW4SRRequest">
    <part name="parameters" element="mx:SyncMXSW4SR" />
  </message>
  <message name="SyncMXSW4SRResponse">
    <part name="parameters" element="mx:SyncMXSW4SRResponse" />
  </message>
  <message name="UpdateMXSW4SRRequest">
    <part name="parameters" element="mx:UpdateMXSW4SR" />
  </message>
  <message name="UpdateMXSW4SRResponse">
    <part name="parameters" element="mx:UpdateMXSW4SRResponse" />
  </message>
  <message name="CreateMXSW4SRRequest">
    <part name="parameters" element="mx:CreateMXSW4SR" />
  </message>
  <message name="CreateMXSW4SRResponse">
    <part name="parameters" element="mx:CreateMXSW4SRResponse" />
  </message>
  <message name="DeleteMXSW4SRRequest">
    <part name="parameters" element="mx:DeleteMXSW4SR" />
  </message>
  <message name="DeleteMXSW4SRResponse">
    <part name="parameters" element="mx:DeleteMXSW4SRResponse" />
  </message>
  <portType name="MXSW4SRPortType">
    <operation name="QueryMXSW4SR">
      <input message="mxws:QueryMXSW4SRRequest" />
      <output message="mxws:QueryMXSW4SRResponse" />
    </operation>
    <operation name="SyncMXSW4SR">
      <input message="mxws:SyncMXSW4SRRequest" />
      <output message="mxws:SyncMXSW4SRResponse" />
    </operation>
    <operation name="UpdateMXSW4SR">
      <input message="mxws:UpdateMXSW4SRRequest" />
      <output message="mxws:UpdateMXSW4SRResponse" />
    </operation>
    <operation name="CreateMXSW4SR">
      <input message="mxws:CreateMXSW4SRRequest" />
      <output message="mxws:CreateMXSW4SRResponse" />
    </operation>
    <operation name="DeleteMXSW4SR">
      <input message="mxws:DeleteMXSW4SRRequest" />
      <output message="mxws:DeleteMXSW4SRResponse" />
    </operation>
  </portType>
  <binding name="MXSW4SRSOAP11Binding" type="mxws:MXSW4SRPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="QueryMXSW4SR">
      <soap:operation soapAction="urn:processDocument" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SyncMXSW4SR">
      <soap:operation soapAction="urn:processDocument" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateMXSW4SR">
      <soap:operation soapAction="urn:processDocument" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateMXSW4SR">
      <soap:operation soapAction="urn:processDocument" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DeleteMXSW4SR">
      <soap:operation soapAction="urn:processDocument" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="MXSW4SRSOAP12Binding" type="mxws:MXSW4SRPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="QueryMXSW4SR">
      <soap12:operation soapAction="urn:processDocument" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="SyncMXSW4SR">
      <soap12:operation soapAction="urn:processDocument" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateMXSW4SR">
      <soap12:operation soapAction="urn:processDocument" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="CreateMXSW4SR">
      <soap12:operation soapAction="urn:processDocument" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="DeleteMXSW4SR">
      <soap12:operation soapAction="urn:processDocument" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MXSW4SR">
    <port name="MXSW4SRSOAP11Port" binding="mxws:MXSW4SRSOAP11Binding">
      <soap:address location="http://66.235.236.8:80/meaweb/services/MXSW4SR" />
    </port>
    <port name="MXSW4SRSOAP12Port" binding="mxws:MXSW4SRSOAP12Binding">
      <soap12:address location="http://66.235.236.8:80/meaweb/services/MXSW4SR" />
    </port>
  </service>
</definitions>